body {
    background-color: #232629;
    color: #cccccc;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto Slab", "Times New Roman", Times, serif
}

a {
    color: #7686bb;
    text-decoration: none;
}

a:hover {
    color: #6a6aff;
}

dt:target, span.highlighted {
    background-color: #49483e;
}

rect.highlighted {
    fill: #49483e;
}
